
body {
	margin: 0;
}

.header {
	position: fixed;
	width: 100%;
	background-color: #602040;
}

.header div {
	width: 1000px;
	margin: auto;
	font-size: 0;
}

.header a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 25px;
	text-decoration: none;
	color: white;
}

.header .home {
	font: 28px/50px "Courier New", Courier, monospace;
}

.header .link {
	font: 16px/50px Arial, Helvetica, sans-serif;
}

.header .link:hover {
    background-color: #993366;
}

.header .active {
	background-color: #43162d;
}

.header .active:hover {
	background-color: #391326;
}

.header form {
	float: right;
}

.header .search {
	vertical-align: top;
	height: 30px;
	margin: 10px 0;
	padding: 0;
	border: 0;
	text-indent: 10px;
	font: 16px/50px Arial, Helvetica, sans-serif;
	outline: none;
	background-color: #f2f2f2;
}

.header .search::-webkit-search-cancel-button {
	display: none;
}

.header form:hover .search {
	background-color: white;
}

.header .search:focus {
	background-color: white;
}

.header .submit {
	width: 35px;
	height: 30px;
	margin: 10px 0;
	border: 0;
	background: url("search.png");
	background-color: #f2f2f2;
	outline: none;
}

.header .submit:hover {
	cursor: pointer;
}

.header form:hover .submit {
	background-color: white;
}

.header .search:focus + .submit {
	background-color: white;
}

.content {
	width: 1000px;
	margin: auto;
	margin-bottom: 25px;
	padding-top: 75px;
}

.content .banner {
	text-align: center;
}

.content .banner img {
	vertical-align: middle;
	width: 100px;
	height: 100px;
}

.content .banner_1 {
	display: inline;
	font: 42px/50px "Courier New", Courier, monospace;
	color: #602040;
}

.content .banner_2a {
	display: inline;
	font: 18px/50px "Courier New", Courier, monospace;
}

.content .banner_2b {
	display: inline;
	font: italic 18px/50px "Courier New", Courier, monospace;
}

.content .banner_2c {
	display: inline;
	font: 18px/50px "Courier New", Courier, monospace;
}

.content .article {
	margin-top: 25px;
	padding: 25px;
	border-bottom: 2px solid #602040;
	font-size: 0;
}

.content .article:hover {
	border-radius: 1px;
	box-shadow: 0 0 1px 1px #602040;
}

.content a img {
	display: inline;
	width: 350px;
	height: 200px;
}

.content .article div {
	display: inline-block;
	vertical-align: top;
	width: 575px;
	margin-left: 25px;
}

.content .article div a {
	display: block;
	text-decoration: none;
	text-align: justify;
	font: 22px/25px Arial, Helvetica, sans-serif;
	color: black;
}

.content p {
	margin: 25px 0 0;
	text-indent: 50px;
	text-align: justify;
	font: 16px/25px Arial, Helvetica, sans-serif;
}

.content .navigation {
	margin-top: 25px;
	text-align: center;
	word-spacing: 13px;
}

.content .navigation a {
	display: inline-block;
	padding: 0 25px;
	background-color: #602040;
	text-decoration: none;
	font: 16px/50px Arial, Helvetica, sans-serif;
	color: white;
}

.content .navigation a:hover {
	background-color: #993366;
}

.content .navigation div {
	display: inline-block;
	padding: 0 25px;
	background-color: #df9fbf;
	font: 16px/50px Arial, Helvetica, sans-serif;
	color: white;
}

.content .navigation div:hover {
	cursor: default;
}

.footer {
	width: 1000px;
	height: 50px;
	margin: auto;
	margin-bottom: 25px;
	background-color: #602040;
	font-size: 0;
}

.footer a {
	margin: 0px 25px;
	text-decoration: none;
	font: 16px/50px Arial, Helvetica, sans-serif;
	color: white;
}

.footer a:hover {
	text-decoration: underline;
}

.footer div {
	float: right;
	margin: 0px 25px;
	font: 16px/50px Arial, Helvetica, sans-serif;
	color: white;
}
