
body {
	margin: 0;
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #752475;
	font-size: 0;
}

.header div {
	width: 1000px;
	margin: auto;
}

.header a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 25px;
	font: 16px/50px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: white;
}

.header .home {
	font: 28px/50px "Courier New", Courier, monospace;
}

.header .link:hover {
    background-color: #ffffe6;
	color: black;
}

.header .contribute {
	float: right;
}

.content {
	width: 1000px;
	margin: auto;
	padding-top: 75px;
	font-size: 0;
}

.content .banner1 {
	text-align: center;
	font: 42px/50px "Courier New", Courier, monospace;
}

.content .banner2 {
	text-align: center;
	padding-bottom: 25px;
	font: italic 18px/50px "Courier New", Courier, monospace;
}

.content .article {
	padding-bottom: 25px;
}

.content img {
	display: inline-block;
	width: 350px;
	height: 200px;
}

.content .information {
	display: inline-block;
	vertical-align: top;
	width: 625px;
	padding-left: 25px;
}

.content h1 {
	margin: 0;
	font: 22px/25px Arial, Helvetica, sans-serif;
}

.content p {
	margin: 0;
	padding-top: 25px;
	font: 16px/25px Arial, Helvetica, sans-serif;
	text-indent: 50px;
}

.content .pdf {
	width: 100%;
	height: 1000px;
}
